<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Irto - develop</title>
</head>
<style type="text/css">
<!--
.develop-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.develop-table-column {
    display: table-cell;
    border: 1px solid black;
    width: 32em;
}

.develop-table-form {
    border: 1px solid black;
    margin: 0.1em;
    padding: 1em;
}
-->
</style>
<header>
<div style="display:table; width:100%;">
    <div style="display:table-cell;">
        <h2 style="margin:1em;">Irto</h2>
    </div>
    <div style="display:table-cell;">
        <ul>
        <li style="display:inline; margin:0.2em;"><a href="/">index</a></li>
        <li style="display:inline; margin:0.2em;"><a href="/develop">develop</a></li>
        </ul>
    </div>
    <div style="display:table-cell; padding:1em; text-align:right;">
        <p>User: {{ .username }}</p>
    </div>
</div>
</header>
<body>
    <div class="develop-table">
        <div id="message_sender" class="develop-table-column">
            <h3 style="margin:0.7em;">User Authentication</h3>
            <form class="develop-table-form" action="/signup" method="post">
                <h4 style="margin:0.2em;">Sign up</h4>
                <input name="username" type="text" placeholder="username" />
                <input name="password" type="text" placeholder="password" />
                <input name="password_confirm" type="text" placeholder="re-enter password" />
                <button type="submit">Send</button>
                <button type="reset">Reset</button>
            </form>
            <form class="develop-table-form" action="/signin" method="post">
                <h4 style="margin:0.2em;">Sign in</h4>
                <input name="username" type="text" placeholder="username" />
                <input name="password" type="text" placeholder="password" />
                <button type="submit">Send</button>
                <button type="reset">Reset</button>
            </form>
            <form class="develop-table-form" action="/signout" method="post">
                <h4 style="margin:0.2em;">Sign out</h4>
                <button type="submit">Sign out</button>
            </form>
        </div>
    </div>
</body>
</html>